<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %5p %c{1}:%L - %m%n
            </pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Tune to control logging by package -->
    <logger name="com.github.connollyst.jolt" level="DEBUG"/>

</configuration>